rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /users/{userId}/notifications/{notiId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }
    
    match /friendCodes/{code} {
      allow read, write: if request.auth != null;
    }
    
    match /lobbies/{lobbyId} {
      allow read, write: if request.auth != null;
    }
    
    match /taverns/{tavernId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && (resource.data.ownerUid == request.auth.uid || request.resource.data.members.hasAll(resource.data.members));
      
      match /chat/{messageId} {
        allow read, create: if request.auth != null;
        allow update, delete: if false; // Messages are immutable
      }
    }
  }
}
